<p>
  dashboard works!
</p>

<mat-toolbar color="warn" class="example-toolbar">
<!--    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>-->
    <h1 class="example-app-name">S2P Bridge</h1>
      <h1 style="padding:10px;">C</h1>
      <h1>Java</h1>
  </mat-toolbar>
<mat-sidenav-container class="example-sidenav-container">
<mat-sidenav opened>
    <mat-nav-list>
          <a mat-list-item>Nav Item 1</a>
          <a mat-list-item>Nav Item 2</a>
      </mat-nav-list>
</mat-sidenav>
</mat-sidenav-container>
